.header {
  padding: $gutter 0 0;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
}

.logo {
  font-family: $montserat;
  font-size: 16px;
  letter-spacing: 0;
  margin-right: auto;

  a {

    &:hover {
      text-decoration: none;
    }
  }
}
