.main {
  padding: cre(20) 0 cre(80);
}

// Bio Section
// =============================
.bio-section {
  position: relative;
  background-color: $athens-gray;
  padding: cre(40) 0;
  margin-bottom: cre(60);

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: cre(40);
    background-color: $athens-gray;
    transform: rotate(1deg);
    transform-origin: 0 0;
    z-index: -1;
  }
}

.bio-summary {
  
}

.bio-picture {
  float: left;
  margin-right: cre(50);
  transform: skewY(-2deg) rotate(-1deg);
}

// Central Columns Section
// =============================
.col-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > div {
    flex: 1;
    margin-right: cre(40);

    &:last-child {
      margin-right: 0;
    }
  }
}