.nav-tabs {
  display: flex;
  justify-content: center;
  overflow: auto;

  li {

  }

  .active {
    background-color: darken($blue-marguerite, 5%);
  }

  a {
    display: inline-block;
    color: white;
    padding: cre(10) $gutter;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

.profile-body {
  display: flex;
  overflow: hidden;
  background-color: white;
}

.tab-panel {
  display: none;
  padding: $gutter * 2 $gutter * 2.5 $gutter;

  &.active {
    display: inline;
  }
}