// headings
// ===================
h1, h2, h3, h4 {
  font-family: $montserat;
  font-weight: inherit;
  letter-spacing: 0;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

// paragraphs
// =====================


// links
// =====================
a {

  &:hover {
    text-decoration: none;
  }
}