// ================================
// Text Properties
// ================================

$body-font-size: 1.063em !default;
$body-line-height: 1.5 !default;

$montserat: 'Montserrat', "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
$opensans: 'Open Sans', sans-serif;


// =====================
// Colour Palette
// =====================
$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$athens-gray: #eff1f5;
$mine-shaft: #333333;


// =====================
// Dimension Variables
// =====================
$boundry: 1100;
$gutter: 20px;