.profile-header {
  position: relative;
  padding: $gutter * 2 $gutter $gutter / 2;
  text-align: center;
  background-color: lighten($blue-marguerite, 5%);

  .profile-image img {
    border-radius: 100%;
  }

  h1 {
    margin-bottom: 0;
  }

  .profile-social {
    @include list-reset;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: $gutter;
    right: $gutter / 2;

    li {
      margin-right: cre(10);
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }
}