.main {
  margin: cre(50) auto;
}

.container {
  //@include compartment;
  max-width: $boundry;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.bio-section {
  background-color: $aqua-haze;
  //padding: $gutter * 3 0;
}