.main {
  @include compartment;
  margin: cre(50) auto;
  background-color: white;
}

.bio-section {
  background-color: $aqua-haze;
  //padding: $gutter * 3 0;
}


.col-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.col-2 {
  margin-bottom: cre(80);
}

// The Bio section
// ================================
.bio-profile {
  width: 100%;
  // max-width: cre(300);
}

.bio-info {
  // width: calc(100% - 340px);
}


// The Projects section
// ================================
.projects-container {
  flex: 1;
  max-width: calc(100% - 340px);
}


// The Recent Articles section
// ================================
.articles-container {
  flex: 1;
  max-width: cre(300);
}