.main {
  margin: cre(50) 0 cre(40);
}

.bio-section {
  background-color: $aqua-haze;
  margin-bottom: $gutter * 4;
  padding: $gutter * 3 0;
}

.bio-summary,
.col-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > div {
    flex: 1;
  }
}