body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $shark;
  background: linear-gradient(135deg, #1e5799 0%,#7db9e8 100%);
}

.container {
  @include compartment;
}
  