// Base font families
// ==================================
$headings-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

$body-font-family: $body-font;
$body-font-size: cre(17);
$body-line-height: 1.5;



// Colour Palette
// ==================================
$athens-gray: #eaecef;
$shuttle-gray: #586069;
$shark: #24292e;



// Breakpoints and boundaries
// ==================================
$boundry: 1100px;