// Base font families
// ==================================
$montserat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;;

$body-font-family: $opensans;
$body-font-size: 16px;
$body-line-height: 1.5;



// Colour Palette
// ==================================
$shark: #24292e;



// Breakpoints and boundaries
// ==================================
$boundry: 1100px;