// Base font families
// ==================================
$headings-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

$body-font-family: $body-font;
$body-font-size: 17px;
$body-line-height: 1.5;



// Colour Palette
// ==================================
$athens-gray: #eaecef;
$aqua-haze: #f2f5f8;
$belize-hole: #2980b9;
$blue-marguerite: #827fc9;
$shuttle-gray: #586069;
$shark: #24292e;



// Breakpoints and boundaries
// ==================================
$boundry: 765px;
$gutter: 20px;